@import 'tailwindcss';

@theme {
  --color-highlight: #d4a373;
  --color-highlight-dark: #c98f5d;
  --color-paper: #e5e5e5;
  --color-paper-light: #f8f9fa;
  --color-dark-gray: #495057;

  --font-family-lora: 'lora', 'sans-serif';
  --font-family-roboto: 'roboto', 'sans-serif';
}
