@import 'tailwindcss';

@theme {
  --color-highlight: #c98f5d;
  --color-highlight-dark: #98632e;
  --color-paper: #e5e5e5;
  --color-paper-light: #f8f9fa;
  --color-dark-gray: #495057;

  --color-secondary: #008080;
  --color-secondary-dark: #004d4d;

  --font-family-lora: 'lora', 'sans-serif';
  --font-family-roboto: 'roboto', 'sans-serif';
}

@layer utilities {
  /* ... */
}
